

<ion-content>

  <div class="content-header">
    <ion-icon id="home" routerLink="/accueil" slot="start" name="home"></ion-icon>
    <div id="logo-SA">
    </div>
    <div id="icone-depot">
      <ion-icon name="return-up-forward-outline"></ion-icon>
    </div>
    <div id="title-header">
      Dépot
    </div>
    <div id="bottom-bar">

    </div>
  </div>

  <div class="content-form-depot">
    <div id="content-menu-choice" padding>
      <div class="content-menu" (click)="ShowAndHide(1)">
          Emmetteur
          <div class="menu-bar-bottom" [hidden]="hide"></div>
      </div>

      <div class="content-menu" (click)="ShowAndHide(2)">
        Bénéficiare
        <div class="menu-bar-bottom" [hidden]="!hide"></div>
      </div>
    </div>
    <div [hidden]="hide" id="content-form-emmeteur">
      <form [formGroup]="ClientDepot">        
        <ion-item>
          <ion-label position="stacked" >Num CNI</ion-label>
          <ion-input required formControlName="numCIN"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" >Nom Complet</ion-label>
          <ion-input required formControlName="nomComplet"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" >Telephone</ion-label>
          <ion-input required formControlName="telephone" ></ion-input>
        </ion-item>
      </form>

      <form [formGroup]="montantForm">
        <ion-item>
          <ion-label position="stacked" >Montant</ion-label>
          <ion-input required formControlName="montant"></ion-input>
        </ion-item>
      </form>
        <ion-item [hidden]="true">
          <ion-label position="stacked" >Frais</ion-label>
          <ion-input type="input" name="frais"></ion-input>
        </ion-item>
      
    </div>

      <div [hidden]="!hide" id="content-form-beneficiaire">
        <form [formGroup]="ClientRetrait">
          <ion-item>
            <ion-label position="stacked" >Nom Complet</ion-label>
            <ion-input required formControlName="nomComplet" ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked" >Telephone</ion-label>
            <ion-input required formControlName="telephone"></ion-input>
          </ion-item>
        </form>
        <ion-button (click)="Depotpopover()" color="secondary"  style="position: relative;top:140px;width: 70%;margin: auto;height: 50px;" expand="block" shape="round" fill="outline" color="secondary">Valider</ion-button>
    </div>
  </div>
 
</ion-content>
