
<div class="padding">
<ion-content [fullscreen]="true">
 
    <ion-card>
      <img padding src='../../assets/images/logo_SA.jpeg' style="width:100%;height: 100%;" alt=""/>
    </ion-card>

    <div class="form" style="margin: 10px;position: relative;top:10px;">
    <ion-item style="margin: 20px;position: relative;top:10px;">
      <ion-label position="floating" >Telephone</ion-label>
      <ion-input  type="input" placeholder="779349340"></ion-input>
    </ion-item>
    
    <ion-item style="margin: 20px;position: relative;top:10px;">
      <ion-label position="floating" >Mot de passe</ion-label>
      <ion-input  type="password" placeholder="*****"></ion-input>
    </ion-item>

  </div>

    
<div class="link-pad" style="margin: 30px;position: relative;top:20px;">
  <ion-label color="secondary" >Mot de passe oublié?</ion-label>
</div>

</ion-content>
</div>
