

<ion-content>

  <div class="content-header">
    <ion-icon id="home" routerLink="/accueil" slot="start" name="home"></ion-icon>
    <div id="logo-SA">
    </div>
    <div id="icone-depot">
      <ion-icon name="repeat-outline"></ion-icon>
    </div>
    <div id="title-header">
    Mes Transactions
    </div>
    <div id="bottom-bar">

    </div>
  </div>

  <div class="content-header-tab">
      <select name="type"  [(ngModel)]="type">
        <option value="" ></option>
        <option value="depot">Depot</option>
        <option value="retrait">Retrait</option>
      </select>
      <input type="date" (change)="DateFilter()" [(ngModel)]="dateDebut"  name="debut">
      <input type="date" (change)="DateFilter()" [(ngModel)]="dateFin"  name="fin" >
  </div>
  <div *ngIf="type=='depot'" class="content-table-depot">
  <table>
    <thead>
      <td>Date</td>
      <td>Type</td>
      <td>Montant</td>
    </thead>
    <tr *ngFor="let depot of depots">
      <td>{{depot.dateDepot | date:'shortDate'}}</td>
      <td>Depot</td>
      <td>{{depot.montant}}</td>
    </tr>
  </table> 
  </div>
  <div *ngIf="type=='retrait'" class="content-table-depot">
    <table>
      <thead>
        <td>Date</td>
        <td>Type</td>
        <td>Montant</td>
      </thead>
      <tr *ngFor="let retrait of retraits">
        <td>{{retrait.dateRetrait| date:'shortDate'}} </td>
        <td>Retrait</td>
        <td>{{retrait.montant}}</td>
      </tr>
    </table> 
</div>
<div class="content-somme">
  <div id="content-title">
    <div id="title">
      Total
    </div> 
  </div>
  <div id="content-total">
    <div id="somme-total">

      <div *ngIf="type=='retrait'">
        {{sommeRetrait}}
    </div>
    <div *ngIf="type=='depot'">
      {{sommeDepot}}
  </div>

    </div> 
  </div>
</div>
</ion-content>
