<!-- List of Text Items -->
<ion-list>
  <div class="content-header">
    Confirmation
  </div>
  
  <div class="content-field">
      Emetteur
    <br> {{clientdepot.nomComplet}}
  </div>
  <div class="content-field">
      Telephone
    <br> {{clientdepot.telephone}}
  </div>
  <div class="content-field">
      numero CNI
    <br> {{clientdepot.numCIN}}
  </div>

<div class="content-field">
    Montant
    <br> {{montant.montant}}
</div>
    
<div class="content-field"> 
    Recepteur
    <br> {{clientretrait.nomComplet}}
 </div>
 <div class="content-field"> 
    Telephone
    <br> {{clientretrait.telephone}}
 </div>

  <ion-button id="btn-annuler" (click)="dismiss()" style="margin-top: 20px;margin-left: 10px;" >Annuler</ion-button>
  <ion-button (click)="dismiss()" (click)="Depot()" style="margin-left: 33px;margin-top: 20px;" >Confirmer</ion-button>
</ion-list>